    @import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        width: 100vw;
        height: 100svh;
        background-color: black;
    }
    
    .app{
        width: 70%;
        height: 100%;
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        color: white;
    }

    #background{
        width: 100vw;
        height: 100svh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    .header{
        border: 1px solid white;
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-bar{
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: space-around;
        gap: 50%;
        align-items: center;
        border: 1px solid white;

            & h2{
                font-family: "Nosifer", sans-serif;
                font-size: 1rem;
                cursor: pointer;
                transition: all .2s ease;
            }
    }